<% include _layouts/header %>



<div class="about">
                  
<h3>About</h3>
<p class="aboutpara"><%- content %>
    <hr>

    <h3 class="exp">Experience</h3>
    <p class="aboutpara2"><%- experience %>

            </p>
        <hr>
        <h3 class="edu">Education</h3>
        <p class="aboutpara3"><%- education %>
</div>






<% include _layouts/footer %>