<!doctype html>
<html>

   
  <head>
    <meta charset="utf-8">
    <title>Johannes Iilahti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, user-scalable=0" />

    <link rel="stylesheet" type="text/css" href="/css/contentpage.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" /> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    
    

  </head>
  <body>
 
<nav class="navbar  navbar-default navbar-fixed-top" >
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Johannes Iilahti &nbsp; &nbsp; Graphic Design   </a>
                
                    
                   
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                    
                    <li ><a href="/about">About,</a>
                      <li><a href="/contact">Contact</a></li>
                   

                     
                    </ul>
                     <ul class="nav navbar-nav" style="float: right">
                     <% if (user && user.admin == 1) { %>
            <li><a href="/admin/pages" class="navbar-nav pull-right">Admin</a></li>
            <% }%>
          </ul>
                    
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
              </nav> 